.list-item{
    position: relative;
    display: flex;
    justify-content: space-evenly
    
}
.list_button_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid black;
    padding: .5em;
    background-color: #363c43;
    background-image: linear-gradient(to left, #57595c,#363c43 );
    border-radius: 12px;
    box-shadow: 2px 2px 1px 1px black;
}


.delete_button{
    position: relative;
    top: .4em;
    height: 1.5em;
    width: 10em;
    transition: box-shadow 0.5s, background-color 0.3s,;
}

.delete_button:hover{
    box-shadow: .5px .5px 1px 1px rgb(83, 23, 23);
    background-color: rgb(160, 17, 17);
    border-radius: 10px;
    border: 2px solid rgb(186, 21, 21);
}

label{
    width:75.5px;
    height: 30px;
    margin-top: 9px;
    display: block;
    background-color: #363c43;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;


}

label span{
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: margin-left 0.5s;
}

.checkBtn{
    display: none;
}

.checkBtn:checked + label span{
    background: #5bce5b;
    margin-left: 43px;
    color: #fff;
}

/* .check_button{
    margin-top: 1em;
    height: 1.5em;
    width: 10em;
    
} */


.todo-item{
    list-style-type: none
}